{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "curvine.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "curvine.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["statefulsets"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "curvine.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "curvine.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "curvine.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "curvine.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
